<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-top__column footer-top-column1">
                <a href="./" class="footer-top__logo">
                    <img loading="lazy" src="img/icon/logo2.svg" alt="">
                </a>
                <div data-da=".footer-bottom, 768, first" class="footer-top__text">
                    2026 © Хаеркухни
                </div>
            </div>
            <div class="footer-top__column">
                <div class="footer-top__menu">
                    <div class="footer-top__name">Клиентам</div>
                    <ul>
                        <li>
                            <a href="./">О нас</a>
                        </li>
                        <li>
                            <a href="./">Контакты</a>
                        </li>
                        <li>
                            <a href="./">Портфолио</a>
                        </li>
                        <li>
                            <a href="./">Визуализация и реализация</a>
                        </li>
                        <li>
                            <a href="./">О производстве</a>
                        </li>
                        <li>
                            <a href="./">Дизайнерам</a>
                        </li>
                        <li>
                            <a href="./">Частые вопросы</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-top__column">
                <div class="footer-top__menu">
                    <div class="footer-top__name">Мебель</div>
                    <ul>
                        <li>
                            <a href="./">
                                Кухни
                            </a>
                        </li>
                        <li>
                            <a href="./">Шкафы купе</a>
                        </li>
                        <li>
                            <a href="./">Детские</a>
                        </li>
                    </ul>
                </div>
                <div data-da=".footer-top-column2, 768, last" class="footer-top__socials">
                    <div class="footer-top__social">
                        <a href="./">
                            <img loading="lazy" src="img/icon/vk.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icon/telegram.svg" alt="">
                        </a>
                        <a href="./">
                            <span>*</span>
                            <img loading="lazy" src="img/icon/instagram.svg" alt="">
                        </a>
                        <a href="./">
                            <img loading="lazy" src="img/icon/zen.svg" alt="">
                        </a>
                    </div>
                    <p>
                        *Принадлежит компании Meta, признанной экстримистской и запрещенной на территории РФ
                    </p>
                </div>
            </div>
            <div class="footer-top__column footer-top-column2">
                <div class="footer-top__contacts">
                    <div class="footer-top__contact">
                        <a href="tel:74954566554" class="footer-top__link1">+ 7 (495) 456-65-54</a>
                        <a href="./" class="footer-top__link2">Заказать звонок</a>
                    </div>
                    <div class="footer-top__contact">
                        <a href="mailto:info@haierkuchni.ru" class="footer-top__link1">info@haierkuchni.ru</a>
                        <a href="./" class="footer-top__link2">Отправить заявку на расчет</a>
                    </div>
                </div>
                <a href="./" data-da=".footer-top-column1, 768, last" data-popup="#leave-request"
                    class="btn btn-violet">
                    <span>Записаться в салон</span>
                    <img loading="lazy" src="img/icon/arrow3.svg" alt="">
                </a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-bottom__copy">
                Все права защищены. Копирование материалов с сайта запрещено.
                <br>
                Вся информация на сайте носит справочный характер и не является публичной офертой (п.2 ст.437 ГК РФ).
            </div>
            <ul>
                <li>
                    <a href="./">Политика обработки персональных данных</a>
                </li>
                <li>
                    <a href="./">Согласие на обработку персональных данных</a>
                </li>
                <li>
                    <a href="./">Согласие на получение рекламы</a>
                </li>
                <li>
                    <a href="./">Политика в отношении файлов cookies</a>
                </li>
            </ul>
        </div>
    </div>
</footer>