<div class="block-forms">
    <div class="block-forms__content">
        <div class="block-forms-left">
            <div class="container">
                <div class="block-forms-left__body">
                    <div class="block-forms-left__title">
                        У вас уже есть <span class="grey">изображение кухни</span> или <span class="violet">готовый
                            дизайн-проект?</span>
                    </div>
                    <div class="block-forms-left__items">
                        <div class="block-forms-left__list">
                            <div class="block-forms-left__list-title">
                                Пришлите его нам и получите:
                            </div>
                            <ul>
                                <li>
                                    <img loading="lazy" src="img/icon/device-message.svg" alt="">
                                    <span>
                                        Рекомендации по улучшению проекта
                                    </span>
                                </li>
                                <li>
                                    <img loading="lazy" src="img/icon/archive.svg" alt="">
                                    <span>
                                        Расчет стоимости в 3-х вариантах и сроки на изготовление
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="block-forms-left__socials">
                            <div class="block-forms-left__item">
                                <a href="./">
                                    <img loading="lazy" src="img/icon/telegram2.svg" alt="">
                                    <span>Telegram</span>
                                </a>
                                <a href="./" style="color: #000; border: 1px solid #000;">
                                    <img loading="lazy" src="img/icon/max2.svg" alt="">
                                    <span>Max</span>
                                </a>
                            </div>
                            <p>
                                Наш дизайнер ответит вам в течении 1-2 часов
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-forms-right">
            <div class="container">
                <div class="block-forms-right__body">
                    <div class="block-forms-right__heading-complex">
                        <div class="block-forms-right__title">
                            Нужно реализовать вашу идею?
                        </div>
                        <p>
                            Давайте созвонимся, познакомимся, расскажите нам свои задумки
                        </p>
                    </div>
                    <form data-dev data-popup-message="#thanks" action="#" class="form">
                        <div class="form__inputs">
                            <div class="form__input tel">
                                <div class="form__placeholder">Ваш телефон</div>
                                <input data-required autocomplete="off" type="text" name="form[]" placeholder="Ваш телефон"
                                    class="telephone">
                            </div>
                        </div>
                        <button type="submit" class="btn">
                            <span>Оставить заявку</span>
                        </button>
                        <div class="form__text">
                            Нажимая на кнопку “Оставить заявку”,
                            я принимаю условия
                            <a href="./">политики конфиденциальности</a>.
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>