<header class="header">
    <div class="container">
        <div data-da=".header__body, 1200" class="header-top">
            <ul>
                <li>
                    <a href="./">Шоурумы</a>
                </li>
                <li>
                    <a href="./">Сотрудничество</a>
                </li>
                <li>
                    <a href="./">Дизайнеру</a>
                </li>
                <li>
                    <a href="./">Покупателю</a>
                </li>
                <li>
                    <a href="./">О нас</a>
                </li>
                <li>
                    <a href="./">Статьи</a>
                </li>
            </ul>
            <div class="header-top__contacts">
                <a href="tel:74954566554" class="header-top__contact">
                    <img src="img/icon/max.svg" alt="">
                    <img src="img/icon/telegram.svg" alt="" class="telegram">
                    <span>+ 7 (495) 456-65-54</span>
                </a>
                <a href="./" data-popup="#free-measurement" class="header-top__link">Обратный звонок</a>
            </div>
        </div>
        <div class="header-bottom">
            <div class="header-bottom__left">
                <a href="./" class="header-bottom__logo">
                    <img src="img/icon/logo1.svg" alt="" class="logo1">
                    <img src="img/icon/logo2.svg" alt="" class="logo2">
                </a>
                <ul data-da=".header__body, 1200, first" class="header-bottom__menu">
                    <li>
                        <a href="./" class="header-bottom__catalog">
                            Каталог +
                        </a>
                    </li>
                    <li>
                        <a href="./">Проекты</a>
                    </li>
                    <li>
                        <a href="./">Акции</a>
                    </li>
                    <li>
                        <a href="./">Услуги</a>
                    </li>
                    <li>
                        <a href="./">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="header-bottom__right">
                <div class="header-bottom__icons">
                    <div data-da=".header__body, 768, first" class="header-bottom__icon search-button">
                        <div class="search-input">
                            <input autocomplete="off" type="text" name="form[]" placeholder="Поиск по сайту" class="">
                        </div>
                        <div data-da=".search-input, 768, last" class="search-icon">
                            <img src="img/icon/search.svg" alt="">
                        </div>
                    </div>
                    <a data-da=".header-top__contacts, 768" href="./" class="header-bottom__icon favourites-button">
                        <div class="header-bottom__count">1</div>
                        <img src="img/icon/heart.svg" alt="">
                    </a>
                    <a data-da=".header-top__contacts, 768" href="./" class="header-bottom__icon">
                        <img src="img/icon/user.svg" alt="">
                    </a>
                </div>
                <a href="./" data-popup="#free-measurement" data-da=".header__body, 768" class="btn">Обсудить проект</a>
                <a href="./" class="header-bottom__phone">
                    <img src="img/icon/phone.svg" alt="">
                </a>
                <div class="icon-menu">
                    <span></span>
                </div>
            </div>
        </div>
        <div class="header__body">
            <!--
            <div class="header__menu">
                <ul>
                    <li>
                        <a href="./">Шоурумы</a>
                    </li>
                    <li>
                        <a href="./">Сотрудничество</a>
                    </li>
                    <li>
                        <a href="./">Дизайнеру</a>
                    </li>
                    <li>
                        <a href="./">Покупателю</a>
                    </li>
                    <li>
                        <a href="./">О нас</a>
                    </li>
                    <li>
                        <a href="./">Статьи</a>
                    </li>
                </ul>
            </div>-->
        </div>
    </div>
</header>