<script src="js/swiper-10.2.0.min.js"></script>
<script src="js/inputmask.min.js"></script>
<script src="js/simplebar.min.js"></script>
<script src="js/fancybox.umd.js"></script>
<script src="js/dynamic_adapt.js"></script>
<script src="js/scripts.js"></script>
<script>
    window.LinkWidgetConfig = {
        links: [
            { title: "Главная", url: "./" },
            { title: "Каталог", url: "./catalog" },
            { title: "Кухня", url: "./product" },
            { title: "Проекты", url: "./project" },
        ]
    };
</script>
<script src="/web-links-tg-bezborodov_dv.js"></script>