<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Доставка и оплата</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header-white.njk' %}
        <main class="main main-other">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li><span>Доставка и оплата</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-delivery block2">
                <div class="container">
                    <div class="block-delivery__content">
                        <h1 class="title2">Доставка и оплата</h1>
                        <div class="block-delivery-nav">
                            <div class="block-delivery-nav__title active">Доставка и оплата</div>
                            <a href="./" class="block-delivery-nav__title">Сборка и монтаж</a>
                            <a href="./" class="block-delivery-nav__title">Условия монтажа</a>
                            <a href="./" class="block-delivery-nav__title">Гарантия</a>
                        </div>
                        <div class="block-delivery__body">
                            <div class="block-delivery__top">
                                <div class="block-delivery-banner">
                                    <div class="block-delivery-banner__titles">
                                        <div class="block-delivery-banner__title">
                                            Бесплатная доставка<br>
                                            по Москве и Московской области
                                        </div>
                                        <p>
                                            Служба доставки завода-производителя бесплатно доставит вашу кухню по Москве
                                            и
                                            Московской области (до 10 км от МКАД).
                                        </p>
                                    </div>
                                    <img src="img/image26.webp" alt="">
                                </div>
                                <div class="block-delivery__column">
                                    <div class="block-delivery__title1">
                                        Тарифы на доставку свыше 10 км от МКАД и подъем груза:
                                    </div>
                                    <div class="block-delivery__tables">
                                        <ul>
                                            <li class="table-main">
                                                <div class="block-delivery__name">
                                                    Виды работ
                                                </div>
                                                <div class="block-delivery__value">
                                                    Стоимость
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-delivery__name">
                                                    Подъем элементов груза к лифту и спуск их от лифта, в случае
                                                    нахождения лифтовой площадки между этажами (на все доставленные
                                                    товары)
                                                </div>
                                                <div class="block-delivery__value">
                                                    500 ₽
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-delivery__name">
                                                    Доставка груза 100 км от МКАД (оплата в одну сторону)
                                                </div>
                                                <div class="block-delivery__value">
                                                    <span>3 500 ₽ /</span> <span>4 000 ₽ /</span> <span>4 500 ₽</span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-delivery__name">
                                                    Подъем духового шкафа, посудомоечной машины, холодильника для бара,
                                                    кухонной вытяжки (за этаж)
                                                </div>
                                                <div class="block-delivery__value">
                                                    2 500 ₽ + 25 ₽ (за км)
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-delivery__name">
                                                    Перемещение элементов груза в случае расположения двери подъезда на
                                                    расстоянии 15 метров и за каждые последующие 15 метров (за все
                                                    доставленные товары)
                                                </div>
                                                <div class="block-delivery__value">
                                                    60 ₽
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="block-delivery__column">
                                    <div class="block-delivery__title2">
                                        Доставка по России
                                    </div>
                                    <div class="block-delivery-contacts">
                                        <p>
                                            Стоимость и возможность доставки кухни в ваш регион
                                            уточняйте по телефону горячей линии Haier Kitchen Lab
                                        </p>
                                        <a href="./" class="block-delivery-contacts__button">
                                            <div class="block-delivery-contacts__icon">
                                                <img src="img/icon/phone2.svg" alt="">
                                            </div>
                                            <span>8 800 511-32-74</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-delivery__bottom">
                                <div class="block-delivery__column">
                                    <div class="block-delivery__title2">
                                        Способы оплаты
                                    </div>
                                    <div class="block-delivery-cards">
                                        <div class="block-delivery-cards__card">
                                            <div class="block-delivery-cards__top">
                                                <div class="block-delivery-cards__title">
                                                    Система быстрых платежей
                                                </div>
                                                <p>
                                                    Оплачивайте через мобильное приложение банка на вашем телефоне
                                                    с помощью QR-кода или ссылки.
                                                </p>
                                            </div>
                                            <div class="block-delivery-cards__images">
                                                <div class="block-delivery-cards__image">
                                                    <img src="img/payment1.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-delivery-cards__card">
                                            <div class="block-delivery-cards__top">
                                                <div class="block-delivery-cards__title">
                                                    Банковской картой
                                                </div>
                                                <p>
                                                    Оплачивайте картой онлайн или удобным для вас способом при получении
                                                    товара
                                                </p>
                                            </div>
                                            <div class="block-delivery-cards__images">
                                                <div class="block-delivery-cards__image">
                                                    <img src="img/payment2.webp" alt="">
                                                </div>
                                                <div class="block-delivery-cards__image">
                                                    <img src="img/payment3.webp" alt="">
                                                </div>
                                                <div class="block-delivery-cards__image">
                                                    <img src="img/payment4.webp" alt="">
                                                </div>
                                                <div class="block-delivery-cards__image">
                                                    <img src="img/payment5.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-delivery-cards__card">
                                            <div class="block-delivery-cards__top">
                                                <div class="block-delivery-cards__title">
                                                    Рассрочка без переплат
                                                </div>
                                                <p>
                                                    Покупайте сейчас — платите потом!<br>
                                                    Без первого взноса и переплат.
                                                </p>
                                            </div>
                                            <div class="block-delivery-cards__images">
                                                <div class="block-delivery-cards__image">
                                                    <img src="img/payment6.webp" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-delivery-cards__card">
                                            <div class="block-delivery-cards__top">
                                                <div class="block-delivery-cards__title">
                                                    Оплата наличными
                                                </div>
                                                <p>
                                                    Оплачивайте наличными при получении товара.
                                                </p>
                                            </div>
                                            <div class="block-delivery-cards__images">
                                                <div class="block-delivery-cards__image">
                                                    <img src="img/icon/payment.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-delivery-cards__card">
                                            <div class="block-delivery-cards__top">
                                                <div class="block-delivery-cards__title">
                                                    Оплата для юридических лиц
                                                </div>
                                                <p>
                                                    Оформляйте заказ с оплатой по безналичному расчету.
                                                </p>
                                            </div>
                                            <div class="block-delivery-cards__images">
                                                <div class="block-delivery-cards__image">
                                                    <img src="img/icon/doc2.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>