<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка товара</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header-white.njk' %}
        <main class="main main-other">

            <div class="block-banner5 block2">
                <div class="container">
                    <div class="block-banner5__content">
                        <img loading="lazy" src="img/bg6.webp" alt="" class="block-banner5__bg">
                        <div class="block-banner5__body">
                            <div class="block-banner5__title">
                                Узнайте стоимость
                                вашей будущей кухни
                                и забронируйте подарок!
                            </div>
                            <p>
                                До 22 декабря дарим Haier Robot Vacuum<br>
                                Умный робот-пылесос при заказе кухни
                            </p>
                            <a href="./" data-popup="calc" class="btn btn-violet">Рассчитать стоимость кухни</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-products block2">
                <div class="container">
                    <div class="block-products__heading">
                        <h2 class="block-products__title">
                            Реализованные проекты
                        </h2>
                        <div class="slider-nav">
                            <div class="slider-nav__arrow-prev block-products-arrow-prev">
                                <img src="img/icon/arrow4.svg" alt="">
                            </div>
                            <div class="slider-nav__arrow-next block-products-arrow-next">
                                <img src="img/icon/arrow4.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="block-products__content">
                        <div class="block-products__slider swiper">
                            <div class="block-products__wrapper swiper-wrapper">
                                <div class="block-products__slide swiper-slide">
                                    <a href="./" class="card-product card-product2">
                                        <div class="card-product__swiper">
                                            <div class="card-product__slider swiper">
                                                <div class="card-product__wrapper swiper-wrapper">
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slider-nav__arrow-prev card-product-arrow-prev">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                            <div class="slider-nav__arrow-next card-product-arrow-next">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-product__items">
                                            <div class="card-product__top">
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">Кухни наших клиентов</div>
                                                    <div class="card-product__name">
                                                        ЖК «Сердце столицы»
                                                    </div>
                                                </div>
                                                <div class="card-product__arrow">
                                                    <img loading="lazy" src="img/icon/arrow3.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="block-products__slide swiper-slide">
                                    <a href="./" class="card-product card-product2">
                                        <div class="card-product__swiper">
                                            <div class="card-product__slider swiper">
                                                <div class="card-product__wrapper swiper-wrapper">
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slider-nav__arrow-prev card-product-arrow-prev">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                            <div class="slider-nav__arrow-next card-product-arrow-next">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-product__items">
                                            <div class="card-product__top">
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">Проекты для ТВ</div>
                                                    <div class="card-product__name">
                                                        Кухня из телепроекта «Квартирный вопрос»
                                                    </div>
                                                </div>
                                                <div class="card-product__arrow">
                                                    <img loading="lazy" src="img/icon/arrow3.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="block-products__slide swiper-slide">
                                    <a href="./" class="card-product card-product2">
                                        <div class="card-product__swiper">
                                            <div class="card-product__slider swiper">
                                                <div class="card-product__wrapper swiper-wrapper">
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slider-nav__arrow-prev card-product-arrow-prev">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                            <div class="slider-nav__arrow-next card-product-arrow-next">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-product__items">
                                            <div class="card-product__top">
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">Кухни наших клиентов</div>
                                                    <div class="card-product__name">
                                                        ЖК «Сердце столицы»
                                                    </div>
                                                </div>
                                                <div class="card-product__arrow">
                                                    <img loading="lazy" src="img/icon/arrow3.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="block-products__slide swiper-slide">
                                    <a href="./" class="card-product card-product2">
                                        <div class="card-product__swiper">
                                            <div class="card-product__slider swiper">
                                                <div class="card-product__wrapper swiper-wrapper">
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="slider-nav__arrow-prev card-product-arrow-prev">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                            <div class="slider-nav__arrow-next card-product-arrow-next">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-product__items">
                                            <div class="card-product__top">
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">Проекты для ТВ</div>
                                                    <div class="card-product__name">
                                                        Кухня из телепроекта «Квартирный вопрос»
                                                    </div>
                                                </div>
                                                <div class="card-product__arrow">
                                                    <img loading="lazy" src="img/icon/arrow3.svg" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="block-products__pagination pagination"></div>
                    </div>
                    <div class="block-pagination">
                        <button type="button" class="btn btn-border">
                            <span>Все реализованные проекты</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="block-products block2">
                <div class="container">
                    <div class="block-products__heading">
                        <h2 class="block-products__title">
                            Рекомендуем посмотреть
                        </h2>
                        <div class="slider-nav">
                            <div class="slider-nav__arrow-prev block-products-arrow-prev">
                                <img src="img/icon/arrow4.svg" alt="">
                            </div>
                            <div class="slider-nav__arrow-next block-products-arrow-next">
                                <img src="img/icon/arrow4.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="block-products__content">
                        <div class="block-products__slider swiper">
                            <div class="block-products__wrapper swiper-wrapper">
                                <div class="block-products__slide swiper-slide">
                                    <div class="card-product">
                                        <div class="card-product__swiper">
                                            <a href="./" class="card-product__slider swiper">
                                                <div class="card-product__wrapper swiper-wrapper">
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="card-product__badges2">
                                                <div class="card-product__badge2">
                                                    Под заказ от 20 дней
                                                </div>
                                            </div>
                                            <div class="card-product__badges">
                                                <div class="card-product__badge">Угловая с полуостровом</div>
                                                <div class="card-product__badge">Без шкафов</div>
                                                <div class="card-product__badge">С барной стойкой</div>
                                            </div>
                                            <div class="slider-nav__arrow-prev card-product-arrow-prev">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                            <div class="slider-nav__arrow-next card-product-arrow-next">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-product__items">
                                            <div class="card-product__top">
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">Современные кухни</div>
                                                    <div class="card-product__name">Lazer</div>
                                                </div>
                                                <ul class="card-product__list">
                                                    <li>
                                                        <span>Материал:</span> МДФ + экомембрана
                                                    </li>
                                                    <li>
                                                        <span>Цвет:</span> Белый и Древесина Графит
                                                    </li>
                                                </ul>
                                                <div class="card-product__prices">
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Маленькая 3м:</div>
                                                        <div class="card-product__summ">
                                                            <span>189 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Большая 6м:</div>
                                                        <div class="card-product__summ">
                                                            <span>289 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product__bottom">
                                                <ul class="card-product__list">
                                                    <li>
                                                        <span>Материал:</span> МДФ + экомембрана
                                                    </li>
                                                    <li>
                                                        <span>Цвет:</span> Белый и Древесина Графит
                                                    </li>
                                                </ul>
                                                <div class="card-product__prices">
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Маленькая 3м:</div>
                                                        <div class="card-product__summ">
                                                            <span>189 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Большая 6м:</div>
                                                        <div class="card-product__summ">
                                                            <span>289 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-product__buttons">
                                                    <a href="./" class="btn btn-white">Заказать проект</a>
                                                    <a href="./" class="btn btn-border">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-products__slide swiper-slide">
                                    <div class="card-product">
                                        <div class="card-product__swiper">
                                            <a href="./" class="card-product__slider swiper">
                                                <div class="card-product__wrapper swiper-wrapper">
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="card-product__badges2">
                                                <div class="card-product__badge2">
                                                    Под заказ от 20 дней
                                                </div>
                                            </div>
                                            <div class="card-product__badges">
                                                <div class="card-product__badge">Угловая с полуостровом</div>
                                                <div class="card-product__badge">Без шкафов</div>
                                                <div class="card-product__badge">С барной стойкой</div>
                                            </div>
                                            <div class="slider-nav__arrow-prev card-product-arrow-prev">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                            <div class="slider-nav__arrow-next card-product-arrow-next">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-product__items">
                                            <div class="card-product__top">
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">Современные кухни</div>
                                                    <div class="card-product__name">Lazer</div>
                                                </div>
                                                <ul class="card-product__list">
                                                    <li>
                                                        <span>Материал:</span> МДФ + экомембрана
                                                    </li>
                                                    <li>
                                                        <span>Цвет:</span> Белый и Древесина Графит
                                                    </li>
                                                </ul>
                                                <div class="card-product__prices">
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Маленькая 3м:</div>
                                                        <div class="card-product__summ">
                                                            <span>189 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Большая 6м:</div>
                                                        <div class="card-product__summ">
                                                            <span>289 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product__bottom">
                                                <ul class="card-product__list">
                                                    <li>
                                                        <span>Материал:</span> МДФ + экомембрана
                                                    </li>
                                                    <li>
                                                        <span>Цвет:</span> Белый и Древесина Графит
                                                    </li>
                                                </ul>
                                                <div class="card-product__prices">
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Маленькая 3м:</div>
                                                        <div class="card-product__summ">
                                                            <span>189 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Большая 6м:</div>
                                                        <div class="card-product__summ">
                                                            <span>289 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-product__buttons">
                                                    <a href="./" class="btn btn-white">Заказать проект</a>
                                                    <a href="./" class="btn btn-border">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-products__slide swiper-slide">
                                    <div class="card-product">
                                        <div class="card-product__swiper">
                                            <a href="./" class="card-product__slider swiper">
                                                <div class="card-product__wrapper swiper-wrapper">
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="card-product__badges2">
                                                <div class="card-product__badge2">
                                                    Под заказ от 20 дней
                                                </div>
                                            </div>
                                            <div class="card-product__badges">
                                                <div class="card-product__badge">Угловая с полуостровом</div>
                                                <div class="card-product__badge">Без шкафов</div>
                                                <div class="card-product__badge">С барной стойкой</div>
                                            </div>
                                            <div class="slider-nav__arrow-prev card-product-arrow-prev">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                            <div class="slider-nav__arrow-next card-product-arrow-next">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-product__items">
                                            <div class="card-product__top">
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">Современные кухни</div>
                                                    <div class="card-product__name">Lazer</div>
                                                </div>
                                                <ul class="card-product__list">
                                                    <li>
                                                        <span>Материал:</span> МДФ + экомембрана
                                                    </li>
                                                    <li>
                                                        <span>Цвет:</span> Белый и Древесина Графит
                                                    </li>
                                                </ul>
                                                <div class="card-product__prices">
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Маленькая 3м:</div>
                                                        <div class="card-product__summ">
                                                            <span>189 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Большая 6м:</div>
                                                        <div class="card-product__summ">
                                                            <span>289 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product__bottom">
                                                <ul class="card-product__list">
                                                    <li>
                                                        <span>Материал:</span> МДФ + экомембрана
                                                    </li>
                                                    <li>
                                                        <span>Цвет:</span> Белый и Древесина Графит
                                                    </li>
                                                </ul>
                                                <div class="card-product__prices">
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Маленькая 3м:</div>
                                                        <div class="card-product__summ">
                                                            <span>189 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Большая 6м:</div>
                                                        <div class="card-product__summ">
                                                            <span>289 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-product__buttons">
                                                    <a href="./" class="btn btn-white">Заказать проект</a>
                                                    <a href="./" class="btn btn-border">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-products__slide swiper-slide">
                                    <div class="card-product">
                                        <div class="card-product__swiper">
                                            <a href="./" class="card-product__slider swiper">
                                                <div class="card-product__wrapper swiper-wrapper">
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                    <div class="card-product__slide swiper-slide">
                                                        <img loading="lazy" src="img/image12.webp" alt="">
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="card-product__badges2">
                                                <div class="card-product__badge2">
                                                    Под заказ от 20 дней
                                                </div>
                                            </div>
                                            <div class="card-product__badges">
                                                <div class="card-product__badge">Угловая с полуостровом</div>
                                                <div class="card-product__badge">Без шкафов</div>
                                                <div class="card-product__badge">С барной стойкой</div>
                                            </div>
                                            <div class="slider-nav__arrow-prev card-product-arrow-prev">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                            <div class="slider-nav__arrow-next card-product-arrow-next">
                                                <img src="img/icon/arrow2.svg" alt="">
                                            </div>
                                        </div>
                                        <div class="card-product__items">
                                            <div class="card-product__top">
                                                <div class="card-product__titles">
                                                    <div class="card-product__title">Современные кухни</div>
                                                    <div class="card-product__name">Lazer</div>
                                                </div>
                                                <ul class="card-product__list">
                                                    <li>
                                                        <span>Материал:</span> МДФ + экомембрана
                                                    </li>
                                                    <li>
                                                        <span>Цвет:</span> Белый и Древесина Графит
                                                    </li>
                                                </ul>
                                                <div class="card-product__prices">
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Маленькая 3м:</div>
                                                        <div class="card-product__summ">
                                                            <span>189 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Большая 6м:</div>
                                                        <div class="card-product__summ">
                                                            <span>289 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-product__bottom">
                                                <ul class="card-product__list">
                                                    <li>
                                                        <span>Материал:</span> МДФ + экомембрана
                                                    </li>
                                                    <li>
                                                        <span>Цвет:</span> Белый и Древесина Графит
                                                    </li>
                                                </ul>
                                                <div class="card-product__prices">
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Маленькая 3м:</div>
                                                        <div class="card-product__summ">
                                                            <span>189 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-product__price">
                                                        <div class="card-product__price-title">Большая 6м:</div>
                                                        <div class="card-product__summ">
                                                            <span>289 000 ₽</span>
                                                            <div class="card-product-info">
                                                                <div class="card-product-info__button">
                                                                    <img loading="lazy" src="img/icon/info.svg" alt="">
                                                                </div>
                                                                <p>
                                                                    Lorem ipsum dolor sit amet.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-product__buttons">
                                                    <a href="./" class="btn btn-white">Заказать проект</a>
                                                    <a href="./" class="btn btn-border">Подробнее</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block-products__pagination pagination"></div>
                    </div>
                    <div class="block-pagination">
                        <button type="button" class="btn btn-border">
                            <span>Все классические кухни</span>
                        </button>
                    </div>
                </div>
            </div>

            {% include 'blocks/forms.njk' %}

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>