<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сборка и монтаж</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header-white.njk' %}
        <main class="main main-other">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li><span>Сборка и монтаж</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-delivery block2">
                <div class="container">
                    <div class="block-delivery__content">
                        <h1 class="title2">Сборка и монтаж</h1>
                        <div class="block-delivery-nav">
                            <a href="./" class="block-delivery-nav__title">Доставка и оплата</a>
                            <div class="block-delivery-nav__title active">Сборка и монтаж</div>
                            <a href="./" class="block-delivery-nav__title">Условия монтажа</a>
                            <a href="./" class="block-delivery-nav__title">Гарантия</a>
                        </div>
                        <div class="block-delivery__body">
                            <div class="block-delivery__top">
                                <div class="block-delivery-banner block-delivery-banner2">
                                    <div class="block-delivery-banner__titles">
                                        <div class="block-delivery-banner__title">
                                            Сборка кухни
                                        </div>
                                        <p>
                                            Соберем кухню и подключим технику в удобное для вас время. Стоимость услуг
                                            установки кухни составляет 10% от стоимости кухни.
                                        </p>
                                    </div>
                                    <img src="img/image27.webp" alt="">
                                </div>
                                <div class="block-delivery__column">
                                    <div class="block-delivery__title1">
                                        Сборка кухни включает в себя:
                                    </div>
                                    <ul class="block-delivery__list">
                                        <li>
                                            установку, выравнивание и стяжку модулей нижней и верхней базы, пеналов,
                                            стеллажей;
                                        </li>
                                        <li>
                                            установку, герметизацию и стяжку столешниц, в том числе их доработку под
                                            колонны, выступы, вентиляционные короба и прочие конструктивные особенности
                                            помещения в зоне установки кухонного гарнитура;
                                        </li>
                                        <li>установку цоколей;</li>
                                        <li>установку и герметизацию плинтусов;</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="block-delivery__bottom">
                                <div class="block-delivery__column">
                                    <div class="block-delivery__title2">
                                        Дополнительные работы:
                                    </div>
                                    <div class="block-delivery__tables">
                                        <ul>
                                            <li class="table-main">
                                                <div class="block-delivery__name">
                                                    Виды работ
                                                </div>
                                                <div class="block-delivery__value">
                                                    Стоимость
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-delivery__name">
                                                    Установка и подключение варочной панели
                                                </div>
                                                <div class="block-delivery__value">
                                                    4 000 ₽
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-delivery__name">
                                                    Установка и подключение компактных электроприборов (в т.ч.
                                                    телевизор), 1 шт.
                                                </div>
                                                <div class="block-delivery__value">
                                                    4 000 ₽
                                                </div>
                                            </li>
                                            <li>
                                                <div class="block-delivery__name">
                                                    Установка и подключение аксессуаров (товар клиента), 1 шт.
                                                </div>
                                                <div class="block-delivery__value">
                                                    4 000 ₽
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>