<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Условия монтажа</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header-white.njk' %}
        <main class="main main-other">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                            </a>
                        </li>
                        <li><span>Условия монтажа</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-delivery block2">
                <div class="container">
                    <div class="block-delivery__content">
                        <h1 class="title2">Условия монтажа</h1>
                        <div class="block-delivery-nav">
                            <a href="./" class="block-delivery-nav__title">Доставка и оплата</a>
                            <a href="./" class="block-delivery-nav__title">Сборка и монтаж</a>
                            <div class="block-delivery-nav__title active">Условия монтажа</div>
                            <a href="./" class="block-delivery-nav__title">Гарантия</a>
                        </div>
                        <div class="block-delivery__body">
                            <div class="block-delivery__top">
                                <div class="block-delivery__column">
                                    <ol class="block-delivery__list2">
                                        <li>
                                            <span>1.</span>
                                            Под стандартной установкой понимаются установка, выравнивание и стяжка
                                            модулей нижней и верхней базы, пеналов, стеллажей, установка, герметизация и
                                            стяжка столешниц, в том числе их доработка под колонны, выступы,
                                            вентиляционные короба и прочие конструктивные особенности помещения в зоне
                                            установки кухонного гарнитура, установка цоколей, установка и герметизация
                                            плинтусов; установка стеновых панелей; установка карнизов, подзоров,
                                            декоративных элементов (баллюстрады, полуколонны, колонны и проч;)
                                        </li>
                                        <li>
                                            <span>2.</span>
                                            Монтаж производится по договоренности с монтажниками за 1–4 дня (в
                                            зависимости от сложности работ) и не может быть перенесен на более поздний
                                            срок с оплатой повторного выезда в случае несоответствия помещения
                                            техническим нормам. В таком случае монтажник не несет ответственности за
                                            технологические недоработки в работе.
                                        </li>
                                        <li>
                                            <span>3.</span>
                                            Под стандартной установкой понимаются установка, выравнивание и стяжка
                                            модулей нижней и верхней базы, пеналов, стеллажей, установка, герметизация и
                                            стяжка столешниц, в том числе их доработка под колонны, выступы,
                                            вентиляционные короба и прочие конструктивные особенности помещения в зоне
                                            установки кухонного гарнитура, установка цоколей, установка и герметизация
                                            плинтусов; установка стеновых панелей; установка карнизов, подзоров,
                                            декоративных элементов (баллюстрады, полуколонны, колонны и проч;)
                                        </li>
                                        <li>
                                            <span>4.</span>
                                            Расходные материалы, необходимые для подключения кухонной техники,
                                            приобретаются Заказчиком самостоятельно. Стиральные и посудомоечные машины
                                            обычно комплектуются заливным шлангом длиной 1,5 м. В случае, если эта
                                            техника будет находиться не сразу после мойки (через тумбу), то этого шланга
                                            не хватит, соответственно нужно будет установить другой шланг нужной длины.
                                            Для подключения электрической цепи подсветки в плите нужно 3–5м двужильного
                                            провода в двойной изоляции с сечением 0,5 или 0,75.
                                        </li>
                                    </ol>
                                </div>
                                <div class="block-delivery__warning">
                                    <div class="block-delivery__warning-title">Внимание!</div>
                                    <ul class="block-delivery__list">
                                        <li>
                                            Подключение техники к системе водоснабжения и канализационной системе
                                            производится по личной договоренности с установщиками, поэтому за данные
                                            виды работ компания Haier ответственности не несет.
                                        </li>
                                        <li>
                                            Вынос мусора осуществляется бесплатно при наличии контейнера для
                                            строительных отходов в радиусе 20 метров от подъезда. В случае отсутствия
                                            контейнера-вынос мусора осуществляется клиентом самостоятельно.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>