.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    // .form__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    // .form__input

    &__input {
        position: relative;
        border-radius: 10px;
        background: rgb(237, 237, 237, 0.6);
        border: 1px solid transparent;
        height: 52px;
        transition: border 0.5s;
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.select-input {
            cursor: pointer;
            padding: 9px 36px 9px 16px;
            &._form-focus {
                border: 1px solid transparent;
                .form__placeholder {
                    display: none;
                }
            }
            img {
                position: absolute;
                right: 18px;
                top: 50%;
                transform: translate(0px, -50%);
                width: 8px;
                height: 13px;
            }
            input {
                pointer-events: none;
                white-space: nowrap; /* запрет переноса строк */
                overflow: hidden; /* скрыть переполнение */
                text-overflow: ellipsis;
            }
        }
        &._form-focus {
            border: 1px solid var(--theme-color-accent);
            .form__placeholder {
                display: block;
            }
        }
        &._form-error {
            border: 1px solid red;
        }
        input {
            width: 100%;
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #333;
            &::placeholder {
                color: #333;
            }
        }
    }

    // .form__checkboxes

    &__checkboxes {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0px 0px 20px 0px;
        @media (max-width: 1200px) {
            margin: 0px 0px 5px 0px;
        }
    }

    // .form__placeholder

    &__placeholder {
        display: none;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #8e8e93;
    }

    // .form__text

    &__text {
        font-weight: 300;
        font-size: 12px;
        line-height: 133%;
        text-align: center;
        color: #8e8e93;
        a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #5133ed;
            transition: opacity 0.5s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
.form-file {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 4px 0px 0px 0px;
    &.active {
        .form-file__button {
            gap: 16px;
            border: 1px solid #f7f7f7;
            background-color: #fff;
            border-radius: 5px;
        }
        .form-file__name {
            font-family: var(--second-family);
            font-weight: 500;
            font-size: 14px;
            line-height: 143%;
            color: #000;
        }
        .form-file__subtitle {
            font-weight: 400;
            color: #a8a6a7;
            display: flex;
            gap: 8px;
            .form-file-text1 {
                border-right: 1px solid #e0e5eb;
                padding: 0px 8px 0px 0px;
            }
        }
        .form-file__pic1 {
            flex: 0 0 20px;
            width: 20px;
        }
        .form-file__delete {
            display: flex;
        }
        input {
            pointer-events: none;
        }
    }
    // .form-file__title

    &__title {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #333;
        span {
            color: #c7c7c7;
        }
    }

    // .form-file__button

    &__button {
        background-color: rgba(108, 57, 254, 0.05);
        position: relative;
        border-radius: 5px;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        gap: 10px;
        min-height: 52px;
        input {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    // .form-file__name

    &__name {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #6c39fe;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    // .form-file__pic1

    &__pic1 {
        width: 32px;
        flex: 0 0 32px;
        height: auto;
    }

    // .form-file__delete

    &__delete {
        width: 16px;
        height: auto;
        margin-left: auto;
        display: none;
        img {
            width: 100%;
            height: auto;
        }
    }

    // .form-file__text

    &__text {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    // .form-file__subtitle

    &__subtitle {
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: rgba(51, 51, 51, 0.4);
    }
}

.select {
    min-width: 0;
    position: relative;
    z-index: 25 !important;
    // .select__body
    &__body {
        position: relative;
    }
    // .select__title
    &__title {
        color: inherit;
        text-align: left;
        border-radius: 10px;
        background-color: #fafafa;
        border: 1px solid #e2e2e2;
        transition: border-radius 0.5s;
        cursor: pointer;
        width: 100%;
        font-weight: 500;
        font-size: 16px;
        padding: 45px 65px 18px 30px;
        display: flex;
        align-items: center;
        gap: 6px;
        height: 74px;
        position: relative;
        @media (max-width: 768px) {
            padding: 45px 40px 18px 18px;
            background-color: #fff;
        }
        &::after {
            content: "";
            position: absolute;
            right: 44px;
            top: 42%;
            transition: transform 0.5s;
            width: 8px;
            height: 13px;
            display: block;
            transform: rotate(90deg);
            background-size: 100% 100%;
            background-image: url("../img/icon/arrow1.svg");
            transition: filter 0.5s;
            @media (max-width: 768px) {
                right: 18px;
            }
        }
        ._select-open & {
            border-radius: 10px 10px 0px 0px;
            &::after {
                content: "";
                transform: rotate(-90deg);
            }
        }
    }
    // .select__value
    &__value {
        display: flex;
        min-width: 0;
        overflow: hidden;
        align-items: center;
        flex: 1 1 auto;
    }

    // .select__row
    &__row {
        display: flex;
        align-items: center;
    }
    // .select__content
    &__content {
        flex: 1 1 auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
    }
    // .select__text
    &__text {
        flex: 1 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    // .select__options
    &__options {
        position: absolute;
        top: 100%;
        border-radius: 0px 0px 10px 10px;
        min-width: 100%;
        left: 0;
        border-left: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        background-color: #fafafa;
        padding: 10px 0px 5px 0px;
        max-height: 115px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: 768px) {
            background-color: #fff;
        }
    }
    // .select__option
    &__option {
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: 4px 30px;
        color: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 133%;
        transition: color 0.5s;
        &:hover {
            color: var(--theme-color-accent);
        }
        @media (max-width: 768px) {
            padding: 4px 18px;
        }
    }
}

.salon-options {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0px 32px 0px 0px;
    @media (max-width: 600px) {
        margin: 0px 20px 0px 0px;
    }
    // .salon-options__item

    &__item {
        position: relative;
        cursor: pointer;
        @media (max-width: 600px) {
            border-bottom: 1px solid #d8d8d8;
            &:last-child {
                border-bottom: none;
            }
        }
    }

    // .salon-options__input

    &__input {
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        &:checked + .salon-options__label {
            border: 1px solid var(--theme-color-accent);
            background-color: #fafafa;
            @media (max-width: 600px) {
                border: 1px solid transparent;
                background-color: transparent;
            }
        }
        &:checked + .salon-options__label .salon-options__arrow {
            opacity: 1;
        }
        &:checked + .salon-options__label .salon-options__map {
            opacity: 1;
        }
        &:checked + .salon-options__label .salon-options__icon {
            background-color: var(--theme-color-accent);
            border: 1px solid var(--theme-color-accent);
        }
        &:checked + .salon-options__label .salon-options__icon img {
            filter: none;
        }
    }

    // .salon-options__label

    &__label {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 30px;
        transition: border 0.5s;
        padding: 25px 30px 30px 30px;
        gap: 12px;
        @media (max-width: 600px) {
            padding: 0px 0px 30px 0px;
            border-radius: 0px;
        }
    }

    // .salon-options__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
    }

    // .salon-options__title

    &__title {
        flex: 0 1 236px;
        font-weight: 600;
        font-size: 20px;
        line-height: 125%;
    }

    // .salon-options__icon

    &__icon {
        margin: 5px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 40px;
        border: 1px solid #eaeaea;
        background-color: transparent;
        border-radius: 55px;
        width: 40px;
        height: 40px;
        transition:
            background-color 0.5s,
            border 0.5s;
        img {
            width: 13px;
            height: 10px;
            filter: invert(3%) sepia(44%) saturate(74%) hue-rotate(217deg) brightness(112%) contrast(84%);
        }
    }

    // .salon-options__arrow

    &__arrow {
        margin: 5px 0px 0px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 40px;
        background-color: #fff;
        border-radius: 55px;
        width: 40px;
        height: 40px;
        transition: opacity 0.5s;
        opacity: 0;
        img {
            width: 8px;
            height: 13px;
            transform: rotate(-180deg);
        }
    }

    // .salon-options__bottom

    &__bottom {
        display: flex;
        align-items: flex-end;
        gap: 24px;
    }

    // .salon-options__left

    &__left {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    // .salon-options__column

    &__column {
        display: flex;
        align-items: center;
        gap: 12px;
        &.column2 {
            align-items: start;
            @media (max-width: 600px) {
                p {
                    font-size: 13px;
                }
            }
        }
        img {
            width: 24px;
            height: 24px;
            flex: 0 0 24px;
        }
    }

    // .salon-options__text

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        &.grey {
            color: #a4a2a3;
        }
        @media (max-width: 600px) {
            font-size: 14px;
        }
    }

    // .salon-options__map

    &__map {
        width: 40px;
        height: 40px;
        border-radius: 10px;
        flex: 0 0 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--theme-color-text-common);
        transition: opacity 0.5s;
        img {
            width: 24px;
            height: 24px;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

.options1 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media (max-width: 768px) {
        gap: 15px 20px;
    }
    // .options1__item

    &__item {
        position: relative;
    }

    // .options1__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .options1__label .options1__image {
            border: 1px solid #6c39fe;
        }
        &:checked + .options1__label .options1__text {
            color: #80c0ff;
        }
        &:checked + .options1__label .options1__icon {
            opacity: 1;
        }
    }

    // .options1__icon

    &__icon {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 10;
        img {
            width: 100%;
            height: auto;
        }
    }

    // .options1__label

    &__label {
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media (max-width: 768px) {
            gap: 10px;
        }
    }

    // .options1__image

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 6px;
        width: 44px;
        height: 44px;
        flex: 0 0 44px;
        padding: 2px;
        transition:
            border 0.3s,
            box-shadow 0.3s;
        @media (max-width: 768px) {
            width: 36px;
            height: 36px;
            flex: 0 0 36px;
            padding: 1px;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 6px;
            object-fit: cover;
        }
    }

    // .options1__text

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 113%;
        color: #fff;
        text-align: center;
        transition: color 0.3s;
    }
}

.options2 {
    display: flex;
    flex-direction: column;
    gap: 18px;
    // .options2__item

    &__item {
        position: relative;
    }

    // .options1__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .options2__label {
            border: 1px solid #80c0ff;
            box-shadow: 0 0 16px 2px rgba(128, 192, 255, 0.25);
        }
        &:checked + .options2__label .options2__icon img {
            opacity: 1;
        }
    }

    // .options2__icon

    &__icon {
        width: 20px;
        flex: 0 0 20px;
        background: #313131;
        border-radius: 50%;
        height: 20px;
        margin-top: -2px;
        img {
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    // .options2__label

    &__label {
        position: relative;
        cursor: pointer;
        display: flex;
        gap: 10px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 15px;
        transition:
            box-shadow,
            border 0.3s;
    }

    // .options2__text

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 113%;
        color: #fff;
        span {
            &.mob {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }
}

.checkbox {
    // .checkbox__item

    &__item {
        position: relative;
    }

    // .checkbox__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .checkbox__label .checkbox__text {
            border: 1px solid #000;
            background-color: #000;
            color: #fff;
        }
    }

    // .checkbox__label

    &__label {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .checkbox__text

    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #dbdbdb;
        border-radius: 60px;
        background-color: transparent;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        padding: 5px 18px;
        min-height: 48px;
        transition:
            border 0.3s,
            color 0.3s,
            background-color 0.3s;
    }
}

.checkbox2 {
    // .checkbox2__item

    &__item {
        position: relative;
    }

    // .checkbox2__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .checkbox2__label .checkbox2__icon img {
            opacity: 1;
        }
        &:checked + .checkbox2__label .checkbox2__icon {
            background-color: #80c0ff;
            border: 1px solid transparent;
        }
        &._form-error + .checkbox2__label .checkbox2__icon {
            border: 1px solid red;
        }
    }

    // .checkbox2__label

    &__label {
        cursor: pointer;
        display: flex;
        align-items: start;
        gap: 8px;
    }

    // .checkbox2__icon

    &__icon {
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.1);
        transition: background-color 0.3s;
        border-radius: 5px;
        img {
            width: 9px;
            height: auto;
            opacity: 0;
            transition: opacity 0.3s;
            display: block;
            margin-left: 2px;
        }
    }

    // .checkbox2__text

    &__text {
        font-weight: 400;
        font-size: 12px;
        color: #a4a2a3;
        a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: #80c0ff;
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
