.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  transition:
    background-color 0.5s,
    padding-top 0.5s,
    padding-bottom 0.5s;
  background-color: transparent;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: 768px) {
    padding-top: 63px;
    padding-bottom: 63px;
  }

  &._header-scroll,
  .menu-open &,
  .buyer-open &,
  .project-open &,
  .catalog-open & {
    @media (max-width: 768px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    background-color: #fff;
    color: var(--theme-color-text-common);

    .icon-menu {
      span,
      &::before,
      &::after {
        content: "";
        background-color: var(--theme-color-text-common);
      }
    }

    .search-input {
      border: 1px solid var(--theme-color-text-common);
    }

    .header-top {
      ul {
        li {
          a,
          span {
            color: var(--theme-color-text-common);

            &:hover {
              color: var(--theme-color-accent);
            }
          }
        }
      }
    }

    .header-top__contact {
      img {
        filter: invert(1) brightness(1000%);

        &.telegram {
          filter: none;
        }
      }
    }

    .header-bottom__catalog {
      color: #fff;
    }
    .header-bottom__right {
      .btn {
        border: 1px solid var(--theme-color-text-common);
        color: var(--theme-color-text-common);

        &:hover {
          background-color: var(--theme-color-text-common);
          color: #fff;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
    .header-dropdown-contacts__buttons {
      .btn-border {
        border: 1px solid var(--theme-color-text-common);
        color: var(--theme-color-text-common);

        &:hover {
          background-color: var(--theme-color-text-common);
          color: #fff;
        }

        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
    .header-bottom__count {
      background-color: var(--theme-color-text-common);
      color: #fff;
    }

    .header-bottom__icon {
      img {
        filter: invert(1) brightness(1000%);
      }
    }

    .header-bottom__phone {
      img {
        filter: invert(1) brightness(1000%);
      }
    }

    .header-bottom__logo {
      img {
        &.logo1 {
          filter: invert(1) brightness(1000%);
        }

        &.logo2 {
          display: block;
        }
      }
    }
  }

  .container {
    position: relative;
    @media (max-width: 1200px) {
      position: static;
    }
  }

  // .header__menu

  &__menu {
    @media (max-width: 768px) {
      width: 100%;
    }

    ul {
      flex: 0 1 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 25px;

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      li {
        a {
          font-weight: 400;
          font-size: 14px;
          color: var(--theme-color-text-common);
          line-height: 120%;
          transition: color 0.5s;

          &:hover {
            color: var(--theme-color-accent);
          }

          @media (max-width: 768px) {
            text-align: center;
          }
        }
      }
    }
  }
}
.header-white {
  border-bottom: 1px solid #e2e2e2;
  @media (max-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  background-color: #fff;
  color: var(--theme-color-text-common);

  .header-bottom__burger {
    background-color: #fff;
    .menu-open & {
      background-color: var(--theme-color-text-common);
    }
  }
  .icon-menu {
    span,
    &::before,
    &::after {
      content: "";
      background-color: var(--theme-color-text-common);
      .menu-open & {
        background-color: #fff;
      }
    }
  }

  .search-input {
    border: 1px solid var(--theme-color-text-common);
  }

  .header-top {
    ul {
      li {
        a,
        span {
          color: #a4a2a3;
        }
        &:nth-child(1) {
          a {
            color: var(--theme-color-text-common);
          }
        }
        a,
        span {
          &:hover {
            color: var(--theme-color-accent);
          }
        }
      }
    }
  }

  .header-top__contact {
    img {
      filter: invert(1) brightness(1000%);

      &.telegram {
        filter: none;
      }
    }
  }

  .header-bottom__catalog {
    color: #fff;
  }

  .btn {
    border: 1px solid var(--theme-color-text-common);
    color: var(--theme-color-text-common);

    &:hover {
      background-color: var(--theme-color-text-common);
      color: #fff;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .header-bottom__count {
    background-color: var(--theme-color-text-common);
    color: #fff;
  }

  .header-bottom__icon {
    img {
      filter: invert(1) brightness(1000%);
    }
  }

  .header-bottom__phone {
    img {
      filter: invert(1) brightness(1000%);
    }
  }

  .header-bottom__logo {
    img {
      &.logo1 {
        filter: invert(1) brightness(1000%);
      }

      &.logo2 {
        display: block;
      }
    }
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0px 0px 24px 0px;

  @media (max-width: 1200px) {
    flex-direction: column;
    justify-content: start;
    margin: 0px 0px 0px 0px;
    gap: 40px;
    display: none;
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  ul {
    flex: 0 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;

    @media (max-width: 1500px) {
      gap: 25px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    li {
      @media (min-width: 768px) {
        &:nth-child(1) {
          margin-right: calc(121px - 50px);
        }
      }
      span {
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.49);
        line-height: 120%;
        transition: color 0.5s;

        &:hover {
          color: #fff;
        }

        @media (max-width: 768px) {
          text-align: center;
        }
        &.btn-buyer {
          .buyer-open & {
            color: #5133ed;
          }
        }
      }
      a {
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.49);
        line-height: 120%;
        transition: color 0.5s;

        &:hover {
          color: #fff;
        }

        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }

  // .header-top__contacts

  &__contacts {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    gap: 60px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  }

  // .header-top__contact

  &__contact {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    gap: 16px;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 18px;
      height: auto;

      &.telegram {
        filter: invert(1) brightness(1000%);
      }
    }

    @media (max-width: 768px) {
      font-size: 20px;
      flex: 1 1 100%;
      justify-content: center;

      img {
        width: 24px;
      }
    }

    @media (max-width: 390px) {
      font-size: 18px;
    }
  }

  // .header-top__link

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    transition: opacity 0.5s;

    &:hover {
      opacity: 0.7;
    }

    @media (max-width: 768px) {
      text-align: center;
      flex: 1 1 100%;
    }
  }
}

.header-bottom {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  // .header-bottom__left

  &__left {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    gap: 45px;

    @media (max-width: 1500px) {
      gap: 25px;
    }
  }

  // .header-bottom__phone

  &__phone {
    display: none;

    @media (max-width: 768px) {
      display: flex;

      img {
        width: 18px;
        height: 18px;
      }
    }
  }

  // .header-bottom__logo

  &__logo {
    display: flex;

    img {
      height: 58px;
      width: auto;

      &.logo2 {
        display: none;
      }

      @media (max-width: 550px) {
        height: 42px;
      }
    }
  }

  // .header-bottom__catalog

  &__catalog {
    cursor: pointer;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 56px;
    min-height: 48px;
    padding: 5px 21px;
    background-color: var(--theme-color-accent);
    transition: background-color 0.3s;
    span {
      &.icon {
        transition: transform 0.3s;
      }
    }
    .catalog-open & {
      background-color: #000;
      span {
        &.icon {
          transform: rotate(-45deg);
        }
      }
    }
  }

  // .header-bottom__right

  &__right {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0px 16px 0px 0px;
    gap: 22px;

    @media (max-width: 1730px) {
      margin: 0px 0px 0px 0px;
    }

    @media (max-width: 1500px) {
      gap: 15px;
    }

    @media (max-width: 992px) {
      gap: 30px;
    }
  }

  // .header-bottom__icons

  &__icons {
    display: flex;
    align-items: center;
    gap: 34px;

    @media (max-width: 1500px) {
      gap: 25px;
    }
  }

  // .header-bottom__icon

  &__icon {
    &._active {
      @media (max-width: 769px) {
        .search-input {
          opacity: 1;
          transition: width 0.5s;

          @media (min-width: 1501px) {
            width: calc(100% - 350px);
          }

          @media (max-width: 1500px) and (min-width: 993px) {
            width: calc(100% - 320px);
          }

          @media (max-width: 992px) and (min-width: 769px) {
            width: calc(100% - 350px);
          }
        }

        .search-icon {
          margin-right: 10px;

          img {
            filter: invert(1) brightness(1000%);
          }
        }
      }
    }

    img {
      cursor: pointer;
      width: 24px;
      height: 24px;
      transition: opacity 0.5s;

      &:hover {
        opacity: 0.7;
      }
    }

    &.search-button {
      @media (max-width: 768px) {
        width: 100%;
        margin-bottom: 30px;
      }
    }

    .search-icon {
      @media (max-width: 768px) {
        margin-right: 20px;
      }

      img {
        width: 20px;
        height: 20px;

        @media (max-width: 768px) {
          display: block;
          margin: 1px 0px 0px 0px;
        }
      }
    }

    &.favourites-button {
      position: relative;
    }
  }

  // .header-bottom__count

  &__count {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    font-size: 10px;
    width: 15px;
    height: 15px;
    top: -5px;
    right: -5px;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .header-bottom__menu

  &__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 45px;

    @media (max-width: 1500px) {
      gap: 20px;
    }

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: start;
      display: none;
    }

    @media (max-width: 768px) {
      width: 100%;
      align-items: center;
    }

    li {
      a,
      span {
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        transition: opacity 0.5s;

        &:hover {
          opacity: 0.7;
        }
        &.btn-project {
          .project-open & {
            color: #5133ed;
          }
        }

        @media (max-width: 768px) {
          text-align: center;
        }
      }
    }
  }

  // .header-bottom__burger

  &__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: -12px;
    cursor: pointer;
    transition: background-color 0.3s;
    @media (max-width: 1500px) {
      margin-left: 0px;
    }
    @media (max-width: 768px) {
      flex: 0 0 40px;
      width: 40px;
      height: 40px;
    }
    img {
      width: 24px;
      height: auto;
    }
    .menu-open & {
      background-color: #fff;
    }
  }
}

.search-input {
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fff;
  width: 100%;

  @media (min-width: 1501px) {
    right: 350px;
  }

  @media (max-width: 1500px) and (min-width: 993px) {
    right: 320px;
  }

  @media (max-width: 992px) and (min-width: 769px) {
    right: 350px;
  }

  @media (min-width: 769px) {
    width: 0;
    opacity: 0;
    transition:
      width 0.5s,
      opacity 0.5s;
    position: absolute;
    top: -3px;

    background: #fff;
  }

  input {
    padding: 5px 20px 5px 25px;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    height: 50px;
    color: #000;

    &::placeholder {
      opacity: 0.5;
      color: #000;
    }
  }
}

.icon-menu {
  position: relative;
  width: 18px;
  height: 12px;
  cursor: pointer;
  display: block;
  z-index: 5;

  span,
  &::before,
  &::after {
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 15px;
    background-color: #fff;
    transition: background-color 0.5s;
    .menu-open & {
      background-color: var(--theme-color-text-common);
    }
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  span {
    top: calc(50% - 1px);
  }

  .menu-open & {
    &::before {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
    }

    span {
      width: 0;
    }

    &::after {
      content: "";
      width: 100%;
      bottom: calc(50% - 1px);
      transform: rotate(45deg);
    }
  }
}

.header-dropdown {
  color: var(--theme-color-text-common);
  position: absolute;
  right: 20px;
  width: 90%;
  height: auto;
  margin: 54px 0px 0px 0px;
  z-index: 99;
  top: 100%;
  padding: 10px;
  border-radius: 30px;
  pointer-events: none;
  background: #fff;
  opacity: 0;
  transition: opacity 0.3s;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
  &.header-dropdown-buyer {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0px);
    max-width: 855px;
    margin: 54px 0px 0px 0px;
    border-radius: 30px;
    @media (max-width: 1200px) {
      display: none;
    }
    .buyer-open & {
      opacity: 1;
      pointer-events: auto;
    }
    .header-dropdown__body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &.header-dropdown-project {
    right: auto;
    left: 50%;
    transform: translate(-50%, 0px);
    max-width: 1284px;
    margin: 54px 0px 0px 0px;
    border-radius: 30px;
    @media (max-width: 1500px) {
      width: 100%;
      right: 0;
      left: 0;
      transform: translate(0, 0);
      border-radius: 0px 0px 30px 30px;
      margin: 20px 0px 0px 0px;
      max-width: 100%;
    }
    @media (max-width: 1200px) {
      display: none;
    }
    .project-open & {
      opacity: 1;
      pointer-events: auto;
    }
    .header-dropdown__body {
      align-items: start;
    }
    .header-dropdown-menu1 {
      padding: 0px 0px 0px 0px;
      flex: 1 1 auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px 25px;
      .header-dropdown-menu1__item {
        width: 100%;
        &.hidden {
          display: none;
        }
      }
      .header-dropdown-menu1__button {
        border-radius: 10px;
        gap: 16px;
        padding: 5px 13px 5px 5px;
      }
    }
  }
  &.header-dropdown-main {
    .menu-open & {
      opacity: 1;
      pointer-events: auto;
    }
  }
  &.header-dropdown-catalog {
    right: auto;
    left: 15px;
    max-width: 1284px;
    margin: 54px 0px 0px 0px;
    border-radius: 30px;
    @media (max-width: 1500px) {
      width: 100%;
      right: 0;
      left: 0;
      border-radius: 0px 0px 30px 30px;
      margin: 20px 0px 0px 0px;
      max-width: 100%;
    }
    @media (max-width: 1200px) {
      display: none;
    }
    .catalog-open & {
      opacity: 1;
      pointer-events: auto;
    }
    .header-dropdown-menu1 {
      flex: 1 1 auto;
    }
    .header-dropdown-menu1__button {
      flex: 0 0 243px;
    }
  }

  @media (max-width: 1500px) {
    width: 100%;
    right: 0;
    border-radius: 0px 0px 30px 30px;
    margin: 20px 0px 0px 0px;
  }
  @media (max-width: 1200px) {
    height: calc(100vh - 108px);
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
    padding: 20px;
  }
  @media (max-width: 768px) {
    height: calc(100vh - 70px);
  }

  // .header-dropdown__body

  &__body {
    display: flex;
    gap: 16px;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
      gap: 30px;
    }
    @media (max-width: 992px) {
      flex-direction: column-reverse;
    }
  }
}
.header-dropdown-menu {
  flex: 1 1 auto;
  padding: 30px 30px 0px 30px;
  display: flex;
  align-items: start;
  gap: 46px;
  @media (max-width: 1200px) {
    flex: 1 1 100%;
    padding: 0px 0px 0px 0px;
    gap: 20px;
  }
  @media (max-width: 600px) {
    flex-direction: column-reverse;
    gap: 30px;
  }
  // .header-dropdown-menu__column

  &__column {
    flex: 0 1 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (max-width: 1200px) {
      flex: 0 1 calc(50% - 20px);
    }
    @media (max-width: 600px) {
      width: 100%;
      flex: 1 1 auto;
      border-bottom: 1px solid #d9d9d9;
      padding: 0px 0px 30px 0px;
      &:first-child {
        padding: 0px 0px 0px 0px;
        border-bottom: none;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        a {
          font-weight: 400;
          font-size: 14px;
          line-height: 143%;
          transition: color 0.3s;
          &:hover {
            color: var(--theme-color-accent);
          }
        }
      }
    }
  }

  // .header-dropdown-menu__title

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
  }
}
.header-dropdown-menu1 {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 0px 20px;
  position: relative;
  // .header-dropdown-menu1__pic1

  &__pic1 {
    border-radius: 8px;
    width: 83px;
    height: 54px;
    object-fit: cover;
  }

  // .header-dropdown-menu1__item
  &__item {
    display: flex;
    align-items: start;
    &:hover {
      .header-dropdown-menu1__button {
        background-color: #f7f7f7;
        .header-dropdown-menu1__arrow {
          background-color: #fff;
        }
      }
      .header-dropdown-menu2 {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  // .header-dropdown-menu1__button

  &__button {
    flex: 0 0 258px;
    border-radius: 72px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: background-color 0.3s;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    padding: 13px 13px 13px 26px;
  }

  // .header-dropdown-menu1__arrow

  &__arrow {
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    width: 56px;
    height: 38px;
    flex: 0 0 56px;
    margin-left: auto;
    img {
      width: 8px;
      height: auto;
      transform: rotate(-180deg);
    }
  }
}
.header-dropdown-filter {
  flex: 1 1 auto;
  padding: 20px 38px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  .header-dropdown-menu1 {
    width: 100%;
  }
  .header-dropdown-menu1__item {
    width: 100%;
  }
  .header-dropdown-menu1__button {
    width: 100%;
    flex: 1 1 auto;
  }
  // .header-dropdown-filter__nav

  &__nav {
    display: flex;
    flex-wrap: wrap;
    background: #f7f7f7;
    border-radius: 96px;
    padding: 4px;
    min-height: 48px;
  }

  // .header-dropdown-filter__title

  &__title {
    border-radius: 60px;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #ccc;
    transition:
      background-color 0.3s,
      color 0.3s;
    background-color: transparent;
    &.active {
      color: #000;
      background-color: #fff;
    }
    &:hover {
      color: #5133ed;
    }
  }
}
.header-dropdown-banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  min-height: 500px;
  padding: 10px 10px 20px 30px;
  border-radius: 30px;
  overflow: hidden;
  flex: 0 0 402px;
  transition: opacity 0.3s;
  @media (max-width: 1400px) {
    flex: 0 0 350px;
    min-height: 450px;
  }
  @media (max-width: 1200px) {
    flex: 0 1 calc(50% - 15px);
  }
  @media (max-width: 992px) {
    flex: 1 1 auto;
  }
  @media (max-width: 768px) {
    min-height: 300px;
  }
  @media (max-width: 480px) {
    min-height: 225px;
  }
  p {
    position: relative;
    z-index: 10;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    line-height: 120%;
  }
  &:hover {
    opacity: 0.7;
  }

  &.header-dropdown-banner2 {
    align-items: center;
    padding: 40px 20px;
    .header-dropdown-banner__title {
      text-align: center;
    }
    .btn {
      position: relative;
      font-weight: 600;
      z-index: 10;
    }
  }
  // .header-dropdown-banner__bg

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  // .header-dropdown-banner__top

  &__top {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header-dropdown-banner__title

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #fff;
  }

  // .header-dropdown-banner__arrow

  &__arrow {
    backdrop-filter: blur(20px);
    background: #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    flex: 0 0 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      filter: invert(1) brightness(1000%);
      width: 13px;
      height: auto;
    }
  }
}
.header-dropdown-contacts {
  background: #fafafa;
  border-radius: 30px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 0 0 417px;
  @media (max-width: 1200px) {
    flex: 0 1 calc(50% - 15px);
  }
  @media (max-width: 992px) {
    flex: 1 1 auto;
    width: 100%;
  }
  // .header-dropdown-contacts__top

  &__top {
  }

  // .header-dropdown-contacts__buttons

  &__buttons {
    display: flex;
    gap: 15px;
    @media (max-width: 390px) {
      flex-direction: column;
    }
    .btn {
      flex: 1 1 auto;
      &.btn-border {
        min-height: 48px;
      }
    }
    .btn.btn-violet {
      border-radius: 52px;
      padding: 10px 18px;
    }
  }

  // .header-dropdown-contacts__center

  &__center {
    background: #fff;
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 15px;
    @media (max-width: 768px) {
      padding: 20px;
    }
    @media (max-width: 390px) {
      padding: 10px;
    }
    .btn.btn-border {
      width: 100%;
      gap: 17px;
      min-height: 48px;
      img {
        width: 13px;
        height: auto;
        flex: 0 0 13px;
        transform: rotate(0deg);
        filter: invert(1) brightness(1000%);
        @media (max-width: 390px) {
          display: none;
        }
      }
      &:hover {
        img {
          filter: none;
        }
      }
    }
  }

  // .header-dropdown-contacts__contacts

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  // .header-dropdown-contacts__column

  &__column {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  // .header-dropdown-contacts__icon

  &__icon {
    flex: 0 0 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    img {
      width: 24px;
      height: auto;
    }
  }

  // .header-dropdown-contacts__text

  &__text {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  // .header-dropdown-contacts__link1

  &__link1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    transition: color 0.3s;
    &:hover {
      color: var(--theme-color-accent);
    }
    @media (max-width: 390px) {
      font-size: 16px;
    }
  }

  // .header-dropdown-contacts__link2

  &__link2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 123%;
    color: #5133ed;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 390px) {
      font-size: 12px;
    }
  }

  // .header-dropdown-contacts__bottom

  &__bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
    }
  }

  // .header-dropdown-contacts__button

  &__button {
    display: flex;
    gap: 16px;
    align-items: center;
    @media (max-width: 390px) {
      flex-direction: column;
    }
    .btn {
      flex: 0 1 212px;
      color: #fff;
      @media (max-width: 992px) {
        flex: 1 1 auto;
      }
    }
  }

  // .header-dropdown-contacts__socials

  &__socials {
    display: flex;
    gap: 16px;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 48px;
      border-radius: 50%;
      height: 48px;
      background: #fff;
      transition: opacity 0.3s;
      img {
        width: 18px;
        height: auto;
      }
      &:hover {
        opacity: 0.7;
      }
    }
  }
}
.header-dropdown-menu2 {
  position: absolute;
  top: 30px;
  left: 303px;
  display: flex;
  opacity: 0;
  pointer-events: none;
  height: 450px;
  transition: opacity 0.3s;
  // .header-dropdown-menu2__column

  &__column {
    padding: 0px 30px;
    border-left: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    gap: 30px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 30px;
      li {
        a {
          font-weight: 500;
          font-size: 16px;
          line-height: 120%;
          transition: color 0.3s;
          &:hover {
            color: #6c39fe;
          }
        }
      }
    }
  }

  // .header-dropdown-menu2__title

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #6c39fe;
  }
}

//========================================================================================================================================================
