body::after {
    content: "";
    background-color: rgba(51, 51, 51, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
    z-index: 150;
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    opacity: 1;
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: start;
}
.popup__content {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
    padding: 131px 80px 131px 80px;
    min-height: 100vh;
    width: 480px;
    overflow: hidden;
    box-shadow: 0 20px 40px 0 rgba(51, 51, 51, 0.1);
    background: #fff;
    display: flex;
    justify-content: center;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    .lock & {
        visibility: visible;
    }
    @media (max-width: 768px) {
        padding: 70px 20px;
    }
    @media (max-width: 550px) {
        width: 100%;
    }
}

.popup__close {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbfbfb;
    z-index: 20;
    transition: background-color 0.5s;
    img {
        width: 12px;
        height: 12px;
    }
    &:hover {
        background-color: var(--theme-color-accent);
        img {
            filter: invert(1) brightness(1000%);
        }
    }
}

.popup {
    // .popup__body

    &__body {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    // .popup__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 14px;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 129%;
            text-align: center;
            color: #8e8e93;
        }
    }

    // .popup__title

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: #28282a;
    }

    // .popup__subtitle

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        color: var(--theme-color-accent);
    }
}

.popup-thanks {
    .popup__body {
        max-width: 260px;
    }
}

.popup-select-salon {
    .popup__content {
        padding: 20px;
        width: 550px;
        min-height: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        @media (max-width: 600px) {
            width: 100%;
        }
    }
}
.select-salon {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    // .select-salon__top

    &__top {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    // .select-salon__back

    &__back {
        cursor: pointer;
        border-radius: 10px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fbfbfb;
        z-index: 20;
        transition: background-color 0.5s;
        img {
            width: 8px;
            height: 13px;
            display: block;
            margin: 0px 2px 0px 0px;
        }
        &:hover {
            background-color: var(--theme-color-accent);
            img {
                filter: invert(1) brightness(1000%);
            }
        }
    }

    // .select-salon__title

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        @media (max-width: 600px) {
            font-size: 20px;
        }
    }

    // .select-salon__close

    &__close {
        cursor: pointer;
        border-radius: 10px;
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fbfbfb;
        z-index: 20;
        transition: background-color 0.5s;
        img {
            width: 12px;
            height: 12px;
        }
        &:hover {
            background-color: var(--theme-color-accent);
            img {
                filter: invert(1) brightness(1000%);
            }
        }
    }

    // .select-salon__simplebar

    &__simplebar {
        flex: 1 1 auto;
        min-height: 0;
    }

    // .select-salon__select

    &__select {
        position: relative;
    }

    // .select-salon__select-name

    &__select-name {
        position: absolute;
        top: 15px;
        left: 30px;
        width: calc(100% - 95px);
        z-index: 10;
        font-weight: 400;
        font-size: 14px;
        color: #a4a2a3;
        line-height: 120%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        @media (max-width: 768px) {
            left: 18px;
            width: calc(100% - 58px);
        }
    }
}

//========================================================================================================================================================

.popup-calc {
    padding: 10px;
    @media (max-width: 1200px) {
        padding: 0px 0px 0px 0px;
    }
    .popup__content {
        max-width: 1200px;
        padding: 0px 0px 0px 0px;
        min-height: 100%;
        width: 100%;
        border-radius: 30px;
        @media (max-width: 1200px) {
            border-radius: 0px;
            min-height: 100vh;
        }
    }
    .popup__wrapper {
        align-items: center;
        justify-content: center;
        @media (max-width: 1200px) {
            justify-content: start;
            align-items: start;
        }
    }
    .popup__close {
        background-color: transparent;
        width: 24px;
        height: 24px;
        top: 30px;
        right: 30px;
        @media (max-width: 768px) {
            top: 20px;
            right: 20px;
        }
        img {
            width: 100%;
            height: auto;
            filter: invert(1) brightness(1000%);
        }
    }
    // .popup-calc__content

    &__content {
        color: #fff;
        width: 100%;
        position: relative;
        padding: 100px;
        display: flex;
        flex-direction: column;
        gap: 85px;
        @media (max-width: 992px) {
            padding: 50px;
            gap: 40px;
        }
        @media (max-width: 768px) {
            padding: 50px 20px;
        }
    }

    // .popup-calc__bg1

    &__bg1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 650px) {
            display: none;
        }
    }

    // .popup-calc__bg2

    &__bg2 {
        display: none;
        @media (max-width: 650px) {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    // .popup-calc__bg3

    &__bg3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        @media (max-width: 768px) {
            display: none;
        }
    }

    // .popup-calc__bg4

    &__bg4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: none;
        @media (max-width: 768px) {
            display: block;
        }
    }
}
.popup-calc-top {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
    z-index: 10;
    color: #fff;
    max-width: 552px;
    flex: 1 1 auto;
    @media (max-width: 768px) {
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    // .popup-calc-top__titles

    &__titles {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        align-items: center;
        @media (max-width: 768px) {
            gap: 10px;
            flex: 1 1 auto;
            align-items: start;
            margin: 0px 0px 135px 0px;
        }
    }

    // .popup-calc-top__logo

    &__logo {
        display: flex;
        height: 10px;
        @media (max-width: 768px) {
            margin-top: 5px;
        }
        img {
            height: 100%;
            width: auto;
        }
    }

    // .popup-calc-top__name

    &__name {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 300;
        font-size: 14px;
        line-height: 121%;
        text-align: center;
        color: #fff;
        img {
            flex: 0 0 20px;
            width: 20px;
            height: auto;
        }
    }

    // .popup-calc-top__title

    &__title {
        font-weight: 400;
        font-size: 48px;
        line-height: 138%;
        color: #fff;
        &::selection {
            color: #fff;
        }
        @media (max-width: 768px) {
            font-size: 34px;
            line-height: 129%;
        }
    }

    // .popup-calc-top__subtitle

    &__subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 175%;
        color: #fff;
        span {
            color: #80c0ff;
        }
        &::selection {
            color: #fff;
        }
    }
}
.popup-calc-block {
    margin: 10px 0px 0px 0px;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: start;
    border-radius: 11px;
    gap: 17px;
    padding: 8px 16px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
    @media (max-width: 768px) {
        margin: 0px 0px 0px 0px;
        flex-direction: column;
        gap: 15px;
        padding: 14px;
    }
    svg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .rect {
            width: 100%;
            height: 100%;
        }
    }
    img {
        flex: 0 0 72px;
        width: 72px;
        height: auto;
        @media (max-width: 768px) {
            flex: 0 0 48px;
            width: 48px;
        }
    }
    // .popup-calc-block__text

    &__text {
        margin: 8px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        @media (max-width: 768px) {
            margin: 0px 0px 0px 0px;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: #fff;
        }
    }

    // .popup-calc-block__title

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 140%;
        color: #80c0ff;
        @media (max-width: 768px) {
            display: flex;
            align-items: center;
            gap: 12px;
            font-size: 16px;
        }
    }
}
.popup-calc-bottom {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 552px;
    @media (max-width: 768px) {
        max-width: 100%;
        gap: 20px;
        margin-top: auto;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 36px;
        li {
            display: flex;
            gap: 6px;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: #768ba6;
            &::before {
                content: "";
                width: 6px;
                height: 6px;
                flex: 0 0 6px;
                border-radius: 50%;
                background: #80c0ff;
                margin: 5px 0px 0px 0px;
            }
        }
    }
    // .popup-calc-bottom__buttons

    &__buttons {
        position: relative;
        z-index: 10;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width: 700px) {
            flex-direction: column;
        }
        .btn-calc {
            flex: 1 1 calc(50% - 20px);
        }
    }

    // .popup-calc-bottom__present

    &__present {
        flex: 1 1 calc(50% - 20px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 72px;
        fill: linear-gradient(180deg, rgba(128, 192, 255, 0.05) 0%, rgba(128, 192, 255, 0) 100%);
        border: 1px solid #80c0ff;
        box-shadow: 0 0 16px 2px rgba(128, 192, 255, 0.25);
        min-height: 68px;
        padding: 5px 16px;
        gap: 8px;
        @media (max-width: 768px) {
            min-height: 52px;
        }
        img {
            flex: 0 0 52px;
            width: 52px;
            height: auto;
            @media (max-width: 390px) {
                width: 45px;
                flex: 0 0 45px;
            }
        }
    }

    // .popup-calc-bottom__text

    &__text {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: #fff;
        span {
            color: #80c0ff;
        }
    }
}
.btn-calc {
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -2px 16px 0 rgba(139, 197, 255, 0.51);
    background: linear-gradient(188deg, #fff 0.93%, #80c0ff 20.97%, #4343d5 90.38%);
    min-height: 68px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #f7f7fd;
    position: relative;
    transition: border 0.3s;
    overflow: hidden;
    @media (max-width: 390px) {
        font-size: 18px;
    }
    &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: #4343d5;
        transition: opacity 0.3s;
    }
    span {
        position: relative;
        z-index: 10;
    }
    &:hover {
        &::before {
            content: "";
            opacity: 1;
        }
    }
}

.popup-calc-quiz {
    .popup-calc__content {
        padding: 0px 0px 0px 0px;
        min-height: 650px;
    }
}
.popup-calc-quiz2 {
    .popup-calc__content {
        min-height: 650px;
        padding: 0px 0px 0px 0px;
    }
    .popup-calc-block {
        display: flex;
        flex-direction: row;
        width: fit-content;
        align-items: center;
        margin: 0px 0px 0px 0px;
        border-radius: 72px;
        background: linear-gradient(180deg, rgba(128, 192, 255, 0.05) 0%, rgba(128, 192, 255, 0) 100%);
        border: 1px solid #80c0ff;
        box-shadow: 0 0 16px 2px rgba(128, 192, 255, 0.25);
        gap: 10px;
        padding: 8px 20px 8px 16px;
        @media (max-width: 768px) {
            margin: 0px 0px 10px 0px;
        }
        img {
            flex: 0 0 32px;
            width: 32px;
            height: auto;
        }
        .popup-calc-block__title {
            font-weight: 500;
            font-size: 14px;
            @media (max-width: 390px) {
                font-size: 12px;
            }
        }
    }
    .popup-calc-bottom__buttons {
        margin-top: auto;
        justify-content: space-between;
        .popup-calc-bottom__text {
            color: #6d7c8e;
        }
        .popup-calc-bottom__present {
            min-height: 48px;
            flex: 0 1 auto;
        }
        .btn-calc {
            min-height: 48px;
            flex: 0 1 auto;
            @media (max-width: 550px) {
                font-size: 16px;
            }
            @media (max-width: 390px) {
                font-size: 14px;
                padding: 10px;
            }
        }
    }
    .popup-quiz__top {
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media (max-width: 768px) {
            gap: 15px;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: #fff;
        }
    }
    .popup-quiz__left {
        @media (max-width: 768px) {
            padding: 30px 20px 120px 20px;
        }
        @media (max-width: 390px) {
            padding: 70px 20px 120px 20px;
        }
    }
}
.popup-quiz-form {
    .popup-calc__content {
        min-height: 650px;
        padding: 0px 0px 0px 0px;
    }

    .popup-quiz__top {
        p {
            font-size: 16px;
            color: #6d7c8e;
        }
    }
    // .popup-quiz-form__contents

    &__contents {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        @media (max-width: 992px) {
            align-items: start;
            flex-direction: column;
        }
    }
    // .popup-quiz-form__content

    &__content {
        position: relative;
        z-index: 10;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        @media (max-width: 1200px) {
            flex-direction: column;
            justify-content: start;
            gap: 20px;
        }
        @media (max-width: 992px) {
            flex: 1 1 auto;
            padding: 0px 0px 20px 0px;
        }
        .form {
            flex: 0 1 410px;
            gap: 20px;
            @media (max-width: 1200px) {
                flex: 1 1 auto;
            }
            .btn-calc {
                min-height: 48px;
                margin-top: auto;
                @media (max-width: 768px) {
                    font-size: 16px;
                }
            }
            .form__inputs {
                gap: 20px;
            }
            .form__input {
                padding: 0px 0px 0px 0px;
                border: 1px solid rgba(255, 255, 255, 0.1);
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
                &._form-error {
                    border: 1px solid red;
                }
                .form__placeholder {
                    padding: 0px 20px;
                }
                input {
                    padding: 0px 20px;
                    color: #fff;
                    &::placeholder {
                        color: #a4a2a3;
                    }
                }
            }
        }
    }

    // .popup-quiz-form__left

    &__left {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 0 1 347px;
        @media (max-width: 1200px) {
            flex: 0 1 auto;
        }
        @media (max-width: 768px) {
            gap: 15px;
        }
        .popup-calc-bottom__present {
            margin-top: auto;
            width: 100%;
            min-height: 48px;
            flex: 0 1 auto;
            .popup-calc-bottom__text {
                color: #6d7c8e;
            }
            @media (max-width: 1200px) {
                display: none;
            }
        }
    }

    // .popup-quiz-form__results

    &__results {
        display: flex;
        flex-wrap: wrap;
        gap: 14px 12px;
        margin: 0px 0px 20px 0px;
        @media (max-width: 1200px) {
            margin: 0px 0px 0px 0px;
        }
    }

    // .popup-quiz-form__result

    &__result {
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 48px;
        min-height: 29px;
        padding: 5px 10px;
        font-weight: 400;
        font-size: 14px;
        line-height: 121%;
        span {
            color: #6d7c8e;
        }
    }
}
.popup-quiz-form2 {
    .popup-calc__content {
        min-height: 650px;
        padding: 0px 0px 0px 0px;
    }
}

.popup-quiz-leave-request {
    .popup__close {
        top: 20px;
        right: 20px;
        filter: invert(1) brightness(1000%);
    }
    .popup-quiz {
        width: 100%;
    }
}

.popup-quiz-form2 {
    .popup-quiz {
        position: relative;
    }
    .popup__close {
        top: 20px;
        right: 20px;
        filter: invert(1) brightness(1000%);
        @media (max-width: 992px) {
            filter: none;
        }
    }
    .popup-quiz-form2__form {
        @media (max-width: 992px) {
            display: none;
        }
    }

    // .popup-quiz-form2__content

    &__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        gap: 50px;
        @media (max-width: 992px) {
            padding: 0px 0px 30px 0px;
        }
        @media (max-width: 768px) {
            gap: 25px;
        }
        .btn-calc {
            display: none;
            @media (max-width: 992px) {
                display: flex;
                min-height: 48px;
                margin-top: auto;
            }
        }
        .popup-quiz-right__bonuses {
            flex: 0 1 auto;
            padding: 0px 0px 0px 0px;
            gap: 35px 25px;
            max-width: 472px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                gap: 20px;
                max-width: 100%;
            }
        }
        .popup-quiz-right__row {
            grid-column: -1/1;
            display: grid;
            gap: 35px 25px;
            grid-template-columns: repeat(2, 1fr);
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                gap: 20px;
            }
        }
        .popup-quiz-right__bonus {
            border: 1px solid #80c0ff;
            border-radius: 10px;
            box-shadow: 0 0 16px 2px rgba(128, 192, 255, 0.25);
            background: linear-gradient(180deg, rgba(128, 192, 255, 0.05) 0%, rgba(128, 192, 255, 0) 100%);
            p {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    // .popup-quiz-form2__titles

    &__titles {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 18px;
        max-width: 375px;
        @media (max-width: 992px) {
            flex: 0 1 auto;
        }
        @media (max-width: 768px) {
            gap: 14px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 156%;
            color: #fff;
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    // .popup-quiz-form2__title

    &__title {
        font-weight: 600;
        font-size: 36px;
        line-height: 133%;
        color: #fff;
        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    // .popup-quiz-form2__form

    &__form {
        height: 100%;
        width: 440px;
        flex: 0 0 440px;
        z-index: 10;
        border-radius: 30px;
        background: #fff;
        padding: 60px;
        @media (max-width: 1200px) {
            border-radius: 30px 0px 0px 30px;
            padding: 60px 30px;
        }
        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            gap: 20px;
            flex: 1 1 auto;
            width: 100%;
            padding: 96px 20px 40px 20px;
        }
        .form__checkboxes {
            gap: 10px;
            margin: 0px 0px 0px 0px;
        }
        .checkbox2__input {
            &:checked + .checkbox2__label .checkbox2__icon {
                background-color: #4343d5;
            }
        }
        .form__input {
            padding: 0px 0px 0px 0px;
            background: #fbfbfb;
            &.textarea {
                height: 145px;
            }
            textarea {
                border: 1px solid #d9d9d9;
                border-radius: 10px;
                padding: 12px 16px;
                font-weight: 400;
                font-size: 14px;
                line-height: 143%;
                color: #333;
                height: 145px;
                resize: none;
                &::placeholder {
                    color: #333;
                }
            }
            .form__placeholder {
                padding: 0px 16px;
                span {
                    color: #4343d5;
                }
            }
            input {
                padding: 0px 16px;
            }
        }
        .checkbox2__icon {
            border: 1px solid #333;
            img {
                filter: invert(1) brightness(1000%);
            }
        }
        .checkbox2__text {
            color: #333;
            a {
                color: #4343d5;
            }
        }
    }
}

.popup-quiz {
    display: flex;
    height: 100%;
    .popup-calc-top {
        flex: 0 1 auto;
    }
    .popup-calc-top__titles {
        margin: 0px 0px 0px 0px;
    }
    // .popup-quiz__left

    &__left {
        min-width: 0;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px 60px 40px 60px;
        @media (max-width: 768px) {
            gap: 25px;
            padding: 30px 20px 0px 20px;
        }
        @media (max-width: 390px) {
            padding: 70px 20px 0px 20px;
        }
    }

    // .popup-quiz__slider

    &__slider {
        width: 100%;
        @media (max-width: 992px) {
            margin: 0px 0px 40px 0px;
        }
        @media (max-width: 768px) {
            padding: 0px 0px 150px 0px;
        }
        @media (max-width: 390px) {
            padding: 0px 0px 230px 0px;
        }
    }

    // .popup-quiz__wrapper

    &__wrapper {
    }

    // .popup-quiz__slide

    &__slide {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 30px;
        opacity: 0;
        &.slide-active {
            opacity: 1;
        }
        .options1 {
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            gap: 20px;
            @media (max-width: 992px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
            @media (max-width: 550px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 370px) {
                grid-template-columns: 1fr;
            }
        }
        .options1__item {
            flex: 0 1 calc(25% - 15px);
        }
        .options1__input {
            &:checked + .options1__label .options1__image {
                border: 1px solid #80c0ff;
                box-shadow: 0 0 16px 2px rgba(128, 192, 255, 0.25);
            }
        }
        .options1__image {
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 20px;
            width: 100%;
            height: 165px;
            padding: 3px;
            flex: 0 0 185px;
            position: relative;
            @media (max-width: 768px) {
                height: 130px;
                width: 100%;
                flex: 1 1 auto;
            }
            img {
                border-radius: 20px;
            }
        }
    }

    // .popup-quiz__top

    &__top {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media (max-width: 768px) {
            margin: 0px 0px -10px 0px;
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 121%;
            color: rgba(128, 192, 255, 0.5);
        }
    }

    // .popup-quiz__top-title

    &__top-title {
        display: flex;
        align-items: center;
        gap: 6px;
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #80c0ff;
        img {
            width: 24px;
            flex: 0 0 24px;
            height: auto;
        }
    }

    // .popup-quiz__title

    &__title {
        font-weight: 400;
        font-size: 32px;
        line-height: 121%;
        color: #fff;
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    // .popup-quiz__total

    &__total {
        font-weight: 400;
        font-size: 64px;
        line-height: 103%;
        color: #80c0ff;
        @media (max-width: 768px) {
            font-size: 50px;
            line-height: 132%;
        }
        @media (max-width: 390px) {
            font-size: 36px;
        }
    }
}
.popup-quiz-right {
    position: relative;
    z-index: 10;
    flex: 0 0 260px;
    border-left: 1px solid #5982ba;
    padding: 73px 0px 40px 0px;
    color: #fff;
    display: flex;
    flex-direction: column;
    @media (max-width: 992px) {
        display: none;
    }

    // .popup-quiz-right__bonuses

    &__bonuses {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding: 0px 20px 40px 20px;
    }

    // .popup-quiz-right__bonus

    &__bonus {
        border: 1px solid rgba(255, 255, 255, 0.1);
        padding: 20px 15px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 11px;
        overflow: hidden;
    }

    // .popup-quiz-right__badges

    &__badges {
        display: flex;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
    }

    // .popup-quiz-right__lock

    &__lock {
        flex: 0 0 24px;
        width: 24px;
        height: auto;
    }

    // .popup-quiz-right__badge

    &__badge {
        border: 1px solid rgba(128, 192, 255, 0.6);
        border-radius: 39px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #80c0ff;
        gap: 4px;
        padding: 2px 7px;
        min-height: 24px;
        background: linear-gradient(180deg, rgba(128, 192, 255, 0.05) 0%, rgba(128, 192, 255, 0) 100%);
        img {
            width: 14px;
            flex: 0 0 14px;
            height: auto;
        }
    }

    // .popup-quiz-right__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 129%;
            color: #6d7c8e;
        }
    }

    // .popup-quiz-right__title

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        color: #fff;
    }

    // .popup-quiz-right__descr

    &__descr {
        padding: 20px 20px 0px 20px;
        border-top: 1px solid #5982ba;
        display: flex;
        flex-direction: column;
        gap: 17px;
        p {
            position: relative;
            padding: 14px 12px 14px 14px;
            border-radius: 11px;
            overflow: hidden;
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
            span {
                position: relative;
                z-index: 10;
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                color: #6d7c8e;
            }
        }
    }

    // .popup-quiz-right__titles

    &__titles {
        display: flex;
        align-items: center;
        gap: 12px;
        img {
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
            width: 42px;
            height: 42px;
            border-radius: 50%;
        }
    }

    // .popup-quiz-right__names

    &__names {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    // .popup-quiz-right__name

    &__name {
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        line-height: 120%;
    }

    // .popup-quiz-right__subname

    &__subname {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #6d7c8e;
    }
}
.popup-quiz-bottom {
    position: relative;
    z-index: 10;
    margin-top: auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    @media (max-width: 992px) {
        flex-direction: column;
        justify-content: start;
        position: relative;
    }
    @media (max-width: 768px) {
        position: fixed;
        bottom: 0;
        left: -2px;
        gap: 16px;
        border-radius: 10px 10px 0 0;
        padding: 16px 20px;
        width: calc(100% + 4px);
        background: transparent;
        backdrop-filter: blur(40px);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
    }
    .btn-quiz-prev {
        border-radius: 50%;
        width: 48px;
        height: 48px;
        flex: 0 0 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(128, 192, 255, 0.5);
        img {
            filter: invert(37%) sepia(49%) saturate(366%) hue-rotate(168deg) brightness(91%) contrast(92%);
        }
    }
    // .popup-quiz-bottom__left

    &__left {
        flex: 1 1 auto;
        display: flex;
        gap: 40px;
        align-items: center;
    }

    // .popup-quiz-bottom__line

    &__line {
        flex: 0 1 440px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 992px) {
            flex: 0 1 auto;
            width: 100%;
        }
    }

    // .popup-quiz-bottom__questions

    &__questions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    // .popup-quiz-bottom__question-text

    &__question-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #80c0ff;
    }

    // .popup-quiz-bottom__question

    &__question {
        font-weight: 400;
        font-size: 16px;
        line-height: 113%;
        color: #fff;
        span {
            &.blue {
                color: #80c0ff;
            }
            &.grey {
                color: #4e4e4e;
            }
        }
    }

    // .popup-quiz-bottom__pagination

    &__pagination {
        width: 100%;
        box-shadow:
            inset 1px 1px 6px 0 rgba(0, 0, 0, 0.8),
            inset -1px -1px 6px 0 rgba(255, 255, 255, 0.08);
        background: #1b1b1d;
        border-radius: 25px;
        height: 7px;
        display: flex;
        overflow: hidden;
        position: relative;
        .progress-fill {
            position: absolute;
            top: 0;
            left: 0;
            height: 7px;
            border-radius: 25px;
            background: linear-gradient(180deg, #7baec8 0%, #80c0ff 100%);
            box-shadow: 1px 1px 4px 0 #002ad1;
        }
    }

    // .popup-quiz-bottom__buttons

    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
        @media (max-width: 390px) {
            flex-wrap: wrap-reverse;
        }
    }

    // .popup-quiz-bottom__button

    &__button {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        @media (max-width: 768px) {
            justify-content: center;
            align-items: center;
        }
        @media (max-width: 480px) {
            width: 100%;
        }
        @media (max-width: 390px) {
            width: 100%;
        }
        .btn-quiz-next,
        .btn-quiz-next2 {
            min-width: 185px;
            min-height: 48px;
            padding: 10px 30px;
            @media (max-width: 480px) {
                min-width: 130px;
                flex: 1 1 auto;
                padding: 10px;
                min-width: fit-content;
                width: 100%;
                font-size: 16px;
            }
        }
    }

    // .popup-quiz-bottom__icons

    &__icons {
        display: none;
        gap: 6px;
        @media (max-width: 992px) {
            display: flex;
        }
    }

    // .popup-quiz-bottom__icon

    &__icon {
        position: relative;
        border: 1px solid rgba(128, 192, 255, 0.5);
        border-radius: 50%;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .popup-quiz-bottom__lock

    &__lock {
        position: absolute;
        top: -2px;
        right: 0;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #8c3c3c;
        img {
            width: 12px;
            height: auto;
        }
    }

    // .popup-quiz-bottom__pic1

    &__pic1 {
        width: 24px;
        height: auto;
    }
}
.popup-quiz-sale {
    flex: 1;
    border-radius: 11px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 20px 30px 20px;
    @media (max-width: 992px) {
        padding: 20px;
        flex: 1 1 100%;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        li {
            display: flex;
            align-items: start;
            gap: 11px;
            @media (max-width: 768px) {
                gap: 6px;
            }
            img {
                flex: 0 0 24px;
                width: 24px;
                height: auto;
            }
        }
    }
    // .popup-quiz-sale__title

    &__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 167%;
        color: #fff;
        margin: 0px 0px 22px 0px;
    }

    // .popup-quiz-sale__text

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 143%;
        color: #a4a2a3;
        span {
            color: #80c0ff;
        }
    }
}

.popup-quiz-thanks {
    .popup-quiz-form__contents {
        justify-content: center;
    }
    .popup-quiz-form__content {
        max-width: 620px;
        margin: 0 auto;
        justify-content: center;
        @media (max-width: 992px) {
            padding: 0px 30px 0px 30px;
        }
        @media (max-width: 390px) {
            padding: 0px 0px 0px 0px;
        }
    }
    // .popup-quiz-thanks__body

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        gap: 20px;
        width: 100%;
        @media (max-width: 768px) {
            gap: 10px;
        }
        .popup-calc-bottom__present {
            min-height: 48px;
            flex: 0 1 auto;
            width: fit-content;
        }
    }
    // .popup-quiz-thanks__pic1

    &__pic1 {
        height: 239px;
        width: auto;
        img {
            height: 100%;
            width: auto;
        }
    }

    // .popup-quiz-thanks__titles

    &__titles {
        width: 100%;
        margin: 0px 0px 15px 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (max-width: 768px) {
            gap: 20px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 163%;
            text-align: center;
            color: #6d7c8e;
            span {
                color: #80c0ff;
            }
        }
    }

    // .popup-quiz-thanks__title

    &__title {
        text-align: center;
        font-weight: 400;
        font-size: 32px;
        line-height: 106%;
        color: #fff;
        @media (max-width: 768px) {
            font-size: 20px;
            line-height: 140%;
        }
    }
}
.quiz-icons-descr {
    border-radius: 10px;
    padding: 20px 10px;
    position: absolute;
    bottom: 40px;
    left: 55px;
    width: 154px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-height: 112px;
    z-index: 15;
    overflow: auto;
    backdrop-filter: blur(40px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    background: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
    .quiz-descr-open & {
        opacity: 1;
        pointer-events: auto;
    }
    @media (max-width: 768px) {
        position: fixed;
        bottom: 16px;
        left: 15px;
        max-height: 100px;
    }
    // .quiz-icons-descr__close

    &__close {
        cursor: pointer;
        position: absolute;
        top: 4px;
        right: 4px;
        width: 16px;
        height: 16px;
        img {
            filter: invert(1) brightness(1000%);
            width: 100%;
            height: auto;
        }
    }

    // .quiz-icons-descr__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    // .quiz-icons-descr__column

    &__column {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &::after {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            border-radius: 10px;
            backdrop-filter: blur(40px);
            background: rgba(255, 255, 255, 0.44);
        }
        &:last-child {
            &::after {
                content: "";
                display: none;
            }
        }
    }

    // .quiz-icons-descr__item

    &__item {
        display: flex;
        align-items: start;
        font-weight: 400;
        font-size: 10px;
        line-height: 130%;
        color: #fff;
        gap: 4px;
        img {
            flex: 0 0 14px;
            width: 14px;
            height: auto;
        }
    }
}
